---
interface Props {
	title: string;
}

import { Icon } from "astro-icon/components";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div
			class="bg-zinc-800 container max-w-full justify-center flex flex-wrap gap-1"
		>
			<div class="container flex items-center">
				<!-- Valores arbitrarios -> class="h-[61px]" -->
				<img class="h-16" src="/public/aliexpress.webp" alt="" />
				<div class="relative w-3/4">
					<input
						class="w-full h-9 rounded-full pl-4 outline-none pr-14"
						type="text"
						placeholder="Buscar..."
					/>
					<div
						class="absolute right-1 top-[2px] bg-zinc-800 inline-block text-white rounded-2xl py-1 px-2"
					>
						<Icon class="size-6" name="mdi:search" />
					</div>
				</div>
				<a href="" class="text-white flex items-center gap-x-1 ml-5">
					<Icon class="size-7" name="mdi:qrcode" />
					<p class="w-24 text-xs">Descarga la app de AliExpress</p>
				</a>
				<a href="" class="text-white flex items-center gap-x-1 mr-3">
					<Icon class="w-6 h-4" name="flagpack:co" />
					<p class="text-xs">
						ES/ <br />
						<span class="font-medium">COP</span>
					</p>
				</a>
				<a href="" class="text-white flex items-center gap-x-1 ml-5">
					<Icon class="size-7" name="mdi:person-outline" />
					<p class="text-xs w-40">
						¡Bienvenido! <br />
						<span class="font-medium"
							>Identifícate / Regístrate</span
						>
					</p>
				</a>
				<a
					href=""
					class="text-white flex items-center gap-x-1 ml-5 w-30"
				>
					<Icon class="size-7" name="mdi:shopping-cart-outline" />
					<div class="">
						<p
							class="text-xs font-medium bg-white text-black rounded-xl w-6 text-center"
						>
							0
						</p>
						<span class="text-xs font-medium">Cesta</span>
					</div>
				</a>
			</div>
			<div
				class="container flex justify-around cursor-pointer text-white mb-2 items-center"
			>
				<a
					class="h-10 group flex hover:invert hover:bg-slate-950 items-center relative text-lg rounded-3xl hover:rounded-b-none text-center px-12 bg-slate-600"
					href=""
					>Todas las categorías
					<menu
						class="hidden group-hover:block text-white left-0 border-1 px-3 border-zinc-50 top-8 rounded-b-3xl w-full absolute bg-zinc-950 overflow-x-hidden overflow-y-scroll max-h-56"
					>
						<ul>
							<li>hogar y jardin</li>
							<li>cabello y pelucas</li>
							<li>moda hombre</li>
							<li>Accesorios</li>
							<li>electronica</li>
							<li>hogar e Iluminacion</li>
							<li>electro-domesticos</li>
							<li>motor</li>
							<li>bolsos y maletas</li>
							<li>zapatod</li>
							<li>disfraces</li>
							<li>moda mujer</li>
							<li>deportes y ocio</li>
							<li>juguetes y juegos</li>
							<li>infantil y premama</li>
							<li>telefonia y comuni-cacion</li>
							<li>informatica y escuela</li>
							<li>muebles</li>
							<li>mascotas</li>
							<li>seguridad</li>
							<li></li>
						</ul>
					</menu>
				</a>

				<a
					class="h-10 text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-2"
					href="">NN</a
				>
				<a
					class="h-10 text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-2"
					href="">SuperVentas</a
				>
				<a
					class="h-10 text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-2"
					href="">Mejores Marcas</a
				>
				<a
					class="h-10 text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-2"
					href="">Hogar y Jardin</a
				>
				<a
					class="h-10 text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-2"
					href="">Cabello y Pelucas</a
				>
				<a
					class="h-10 text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-2"
					href="">Moda Hombre</a
				>
				<a
					class="h-10 text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-2"
					href="">Accesorios</a
				>
				<a
					class="h-10 text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-2"
					href="">Electronica</a
				>
				<a
					class="h-10 text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-2"
					href="">Hogar e Iluminacion</a
				>
				<a
					class="h-10 flex group items-center relative text-lg pt-[6px] hover:bg-slate-600 rounded-2xl px-10 hover:rounded-b-none"
					href=""
					>Más
					<menu
						class="hidden group-hover:block text-white left-0 top-8 border-l-slate-50 rounded-b-3xl w-full absolute text-center bg-slate-600"
					>
						<ul>
							<li>deportes</li>
							<li>jugueteria</li>
							<li>alimentos</li>
						</ul>
					</menu>
				</a>
			</div>
		</div>
		<div class="flex m-auto">
			<a href=""></a>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: white;
		background-size: 224px;
	}
	body {
		padding: 0;
		margin: 0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
